<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title> Toy Toon </title>
        <!-- CSS FILES -->
        <!-- Load Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="./css/google-font.css" rel="stylesheet">
        <!-- Bootstrap v5 -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap icons -->
        <link href="css/bootstrap-icons.css" rel="stylesheet">
        <!-- Animate.css -->
        <link rel="stylesheet" href="./css/animate.compat.css">
        <!-- AOS Scroll Animation -->
        <link rel="stylesheet" href="./css/aos.css">
        <!-- Slick Slider -->
        <link rel="stylesheet" href="./css/slick.css">
        <link rel="stylesheet" href="./css/slick-theme.css">
    
    
        <!-- Load Styles -->
        <link href="css/style.css" rel="stylesheet">
        <!-- favicon icon -->
        <link rel="icon" type="image/png" sizes="196x196" href="./images/favc-toys 1.png">
    
    </head>
<body>
    <!-- <div class="Preloader"></div> -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img  class= "logov" src="./images/favc-toys 1.png">
                <p>Toy Toon</p>
            </a>
            <a href="login" class="btn custom-btn d-lg-none ms-auto me-3">Login</a>
            <a href="register" class="btn custom-btn none ms-auto me-3 "> Register Now  </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_1">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Shop By Age</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_4">  Shop Brand & Character</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_5">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_6">Contact Us </a>
                    </li>
                </ul> 
                <a  id="cartIcon" href="cart" class="custom-btn ms-4"><i class="bi bi-cart"></i></i></a>
                <div class="dropdown">
    </nav>


    <section class="profile-section section-padding ">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="container rounded-pill profile mt-5">
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="https://i.imgur.com/0eg0aG0.jpg" width="90"><span class="font-weight-bold">John Doe</span><span class="text-black-50">john_doe12@bbb.com</span><span>United States</span></div>
                    </div>
                    <div class="col-md-8">
                        <div class="p-4 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h6 class="text-center">User  Profile</h6>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-4"><input type="text" class="form-control" placeholder="first name" value="John"></div>
                                <div class="col-md-4"><input type="text" class="form-control" value="Doe" placeholder="Doe"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4"><input type="text" class="form-control" placeholder="Email" value="john_doe12@bbb.com"></div>
                                <div class="col-md-4"><input type="text" class="form-control" value="+19685969668" placeholder="Phone number"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4"><input type="text" class="form-control" placeholder="address" value="D-113, right avenue block, CA,USA"></div>
                                <div class="col-md-4"><input type="text" class="form-control" value="USA" placeholder="Country"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4"><input type="text" class="form-control" placeholder="Bank Name" value="Bank of America"></div>
                                <div class="col-md-4"><input type="text" class="form-control" value="043958409584095" placeholder="Account Number"></div>
                            </div>
                            <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">Toy Toon </h2>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                        <ul class="social-icon d-flex justify-content-lg-end">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-facebook"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-google"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-whatsapp"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mb-4 pb-2">
                    <h5 class="site-footer-title mb-3">Links</h5>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Home</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Offers</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">By Age</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Brand & Chara</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">About</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <h5 class="site-footer-title mb-3">Have a question?</h5>
                    <p class="text-white d-flex mb-1">
                        <a href="tel: 010xxxxxxxx" class="site-footer-link">
                            Phone Number
                        </a>
                    </p>
                    <p class="text-white d-flex">
                        <a href="" class="site-footer-link">
                            toytoonestore@gmail.com
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
                    <h5 class="site-footer-title mb-3">Location</h5>
                    <p class="text-white d-flex mt-3 mb-2">
                        Alexandria University , MIS Dep , Alexandria, Egypt</p>
                </div>
            </div>
        </div>
        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">Copyright © 2024 MIS Team</p>
                        <p class="copyright-text">Distributed by: <a href="">MIS Team</a></p>
                    </div>
                    <div class="col-lg-8 col-12 mt-lg-5">
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Terms & Conditions</a>
                            </li>
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Privacy Policy</a>
                            </li>
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Your Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

        <!-- Bootstrap v5 -->
        <script src="./js/bootstrap.min.js"></script>
        <!-- JAVASCRIPT FILES -->
        <script src="./js/jquery-3.6.4.min.js"></script>
        <script src="./js/jquery.sticky.js"></script>
        <script src="./js/click-scroll.js"></script>
        <!-- Slick Silder -->
        <script src="./js/slick.min.js"></script>
        <script src="./js/silder-brand.js"></script>
        <script src="./js/silder-offers.js"></script>
        
        <!-- AOS Animation -->
        <script src="./js/aos.js"></script>
        <script>
            AOS.init();
        </script>
    
    
</body>
</html>